{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>Инструменты и технологии используемые в проекте</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>Чтобы написать этот проект, мне нужно было:<br>
      разобраться в основах HTML и вёрстки для бэкенд-разработчика;<br>
      создать основу для Django-проекта и добавить в него новые приложения;<br>
      применить MVC на практике;<br>
      использовать шаблонизатор Django;<br>
      освоить Django ORM;<br>
      написать тесты;<br>
      задеплоить проект в облако.<br>
      Инструменты и стек: #python #HTML #CSS #Django #Bootstrap #Unittest</p>
  </article>
</div>
{% endblock %}
