{% extends "base.html" %}
{% load thumbnail %}
{% block title %}Страница подписок{% endblock title %}
{% block content %}
  {% include 'posts/includes/switcher.html' %}
  <div class="container py-5">
    <h1>Ваши подписки</h1>
    <article>
    {% for post in page_obj %}
      {% include 'posts/includes/image.html' %}
      {% include "includes/post.html" %}
      {% if post.group %}
        <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
      {% endif %}
      {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
    </article>
    {% include 'includes/paginator.html' %}
  </div>
{% endblock %}
