{% extends "base.html" %}
{% load thumbnail %}
{% block title %}Профайл пользователя {{ author.username }}{% endblock title %}
{% block content %}
<div class=="mb-5">        
  <h2>Все посты пользователя {{ author.username }} </h2>
  <h3>Всего постов: {{ author.posts.count }}</h3>
  {% if request.author.is_authenticated and request.author != profile.author %}
    <a
      class="btn btn-lg btn-light"
      href="{% url 'posts:profile_unfollow' author.username %}" role="button"
    >
      Отписаться от {{ author.username }}
    </a>
  {% else %}
      <a
        class="btn btn-lg btn-primary"
        href="{% url 'posts:profile_follow' author.username %}" role="button"
      >
        Подписаться на {{ author.username }}
      </a>
  {% endif %} 
  {% for post in page_obj %}
    <article>
    <ul>
      <li>
        Автор: {{ author.username }}
      </li>
      <li>
        Дата публикации: {{ post.pub_date|date:"d E Y" }}
      </li>
        {% if post.group %}
        <li>
            <p>Группа:
            <a href="{% url 'posts:group_list' post.group.slug %}">{{ post.group.title }}</a></p>
        </li>
        {% endif %}
      {% include 'posts/includes/image.html' %}
    <p>
      {{ post.text|linebreaks }}
    </p>
    <a href="{% url 'posts:post_detail' post.pk %}">(подробная инфомация)</a>
  </article>       
  {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
  {% include 'includes/paginator.html' %} 
</div>
{% endblock content %}
